certifi==2025.11.12
charset-normalizer==3.4.4
darkseid==7.2.1
defusedxml==0.7.1
elementpath==5.1.0
idna==3.11
natsort==8.4.0
pillow==12.1.0
pycountry==24.6.1
rarfile==4.2
requests==2.32.5
urllib3==2.6.2
xmlschema==4.2.0
zipremove==0.8.0
